@page
@model CASPARWeb.Areas.Stud.Pages.WishlistsOLD.UpdateModel
@{
}
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-primary py-2">Update Modality</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" class="row">

			<input type="hidden">
			<input type="hidden">
			<input type="hidden" asp-for="originalCourseId">
			<input type="hidden" asp-for="currentSemesterInstanceId">
			<div class="form-control row">
				<div class="col-12">
					<div class="row mb-2">
						<div class="col-6">
							<label>Course</label>
							<select id="ddlCourse" asp-for="CourseId" asp-items="@Model.CourseList" class="form-select rounded">
								<option disabled selected>--Select Course--</option>
							</select>
						</div>
						<div class="col-6">
							<label></label>
							<select id="ddlModality" asp-items="@Model.ModalityList" onchange="UpdateLocaleAndDateOptions()" class="form-select">
								<option disabled selected>--Select Modality--</option>
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<div style="visibility:hidden" id="" class="col-4 hidetoggle">
							<label></label>
							<select id="ddlCampus" asp-items="@Model.CampusList" class="form-select">
								<option disabled selected>--Select Campus--</option>
							</select>
						</div>
						<div style="visibility:hidden" class="col-4 hidetoggle">
							<label></label>
							<select id="ddlTimeOfDay"asp-items="@Model.TimeOfDayList" class="form-select">
								<option disabled selected>--Select Time of Day--</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row pt-2">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-primary rounded form-control">Update</button>
					</div>
					<div class="col-6 col-md-3">
						<a asp-page="./Index" asp-route-selectedSemesterId="@Model.currentSemesterInstanceId" class="rounded btn btn-outline-primary border form-control">
							Back to Preference List
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$(document).ready(function () {
		UpdateLocaleAndDateOptions();
	});

	function UpdateLocaleAndDateOptions() {
		if ($('#ddlModality option:selected').text() == "Online") {
			$('.hidetoggle').css('visibility', 'hidden');
		}
		else {
			$('.hidetoggle').css('visibility', 'visible');
		}
	}
</script>